{% extends 'base.html.twig' %}

{% block title %}
  {{ 'home'|upper}}
{% endblock %}

{% block body %}
<div class="example-wrapper">
  <div class="row">
   {% for produit in produits %} 
  <div class="col-sm-4 mt-3">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{produit.productName}}</h5>
        <p class="card-text">{{produit.productPrice}} €</p>
        <p class="card-text">{{produit.productProvenance}}</p>
        <a href="{{path('app_show_produits')}}" class="btn btn-danger">Voir le produit</a>
      </div>
    </div>
  </div> 
  {% else %}
    <p>Désolé Aucun produit En Base</p>
  {% endfor %}
</div>
</div>
{% endblock %}